@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Domine:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(223, 210, 154);
    color: rgb(16, 26, 26);
    box-sizing:border-box;

}
.header{
    padding: 2% 0% 0% 15%;

}
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
  
    font-size: 1.5rem;
    font-weight: 600;
    color:rgb(74, 73, 168); 
    text-decoration: none;
}
.contenedor_padre{
    display: flex;
    align-items: center;
    padding: 6% 10%; 
    justify-content: space-between;
    gap: 20px;
    font-family:"Domine" serif;
    color: rgb(135, 135, 196);
    font-size: large;


}
h2{
    color: rgb(14, 14, 150);
    font-family: "Domine", serif;
    font-style: normal;
    font-weight: 500;
}
strong{
    color:rgb(187, 157, 118); 


}
.faceblue{
        color: #4c06cf;

    }
.imagen1{
    width: 300px;
    display:inline-block;
    margin:0 10px;
    text-align:right;
}

.contenedor-principal{
    display:flex;
    justify-content:flex-end;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    font-family: "April fatface" serif;
    color: rgb(55, 55, 95);
    font-size: large;


}
.contenedor-imagenes{
    display: flex;
    gap: 10px; 

}
.music{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    width: 18%;
    height: 100vh;
    color: rgb(97, 96, 96);
    font-family: "Domine" serif;
    font-optical-sizing: auto;
    font-style: normal;


    

}
.contenedor_aportes{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    height: 100vh;
    width: 18%;
    color:rgb(100, 100, 100);
    font-family: "Domine" serif;
    font-size: large;

}
.enlace_biografia{
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(8, 8, 8); 
    text-decoration: none;
    width: 12%;
}
.presentacion__contenido__texto{
    font-family: "Domine" serif;
    font-optical-sizing: auto;
    font-weight: 600%;
    font-style: normal;
    font-size: large;
}